body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f4f4f4; /* Light grey background for a modern look */
    color: #333; /* Dark grey color for text for better readability */
}

input[type=text], input[type=number], input[type=date], button, .button-link {
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: 100%; /* Make input fields take the full container width */
}

button, .button-link {
    cursor: pointer;
    background-color: #4CAF50; /* Green background for buttons */
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* Align buttons side by side */
    font-size: 16px; /* Increase font size for better readability */
}

.button-link {
    padding: 10px 20px; /* Increase padding for link-buttons */
    margin: 10px 5px; /* Add some margin between buttons */
}

a:not(.button-link) { /* Style for non-button links */
    color: #007bff; /* Bootstrap-like link color */
    text-decoration: none;
}

a:not(.button-link):hover { /* Hover effect for non-button links */
    text-decoration: underline;
}

/* Remove '|' from dashboard navigation */
.dashboard-nav a:not(:last-child)::after {
    content: none;
}

form {
    background-color: #fff; /* White background for forms */
    border: 1px solid #ddd; /* Light border for forms */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Remove gaps between table cells */
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Light border for table rows */
}

th {
    background-color: #f2f2f2; /* Light grey background for table headers */
}
