h1 {
    text-align: center;
    color: #C7F9CC;
}
h2 {
    color: #80ED99;
}
h3 {
    color: #57CC99;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    /* background-color: #f4f4f4;  */ 
    background-color: #22577A; /*CHANGED*/
    color: #333; 
}

input[type=text], input[type=number], input[type=date], button, .button-link {
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: 100%;
}

button, .button-link {
    cursor: pointer;
    /* background-color: #4CAF50;  */
    background-color: #38A3A5;  /*CHANGED*/
    
    /* color: white;  */
    color: #C7F9CC; /*CHANGED*/
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
}

.button-link {
    padding: 10px 20px; 
    margin: 10px 5px; 
}

a:not(.button-link) { 
    color: #007bff; 
    text-decoration: none;
}

a:not(.button-link):hover { 
    text-decoration: underline;
}


.dashboard-nav a:not(:last-child)::after {
    content: none;
}

.dashboard-nav {
    display: flex;
}

.fin_overview {
    text-align: center;
    color: #C7F9CC;
     
}

.weekly_spending {
    text-align: center;
    border: 1px solid #57CC99; 
    background-color: #38A3A5;
    
}

.expenditure {
    text-align: center;
}

.weekly_left_box, .weekly_right_box {
    /* border: 3px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.interior_weeklys {
    /* border: 3px solid red; */
    width: 300px;
    color: #C7F9CC;
   

}

.spacer {
    height: 20px;
    width: 20px;
    /* //border: 3px solid; */
} 

.spacer_with_border {
    height: 50px;
    width: 100%;
    border: 1px solid;
} 

.weeklys {
    border: 1px solid #57CC99; 
    width: 80%;
    margin: 0 auto;
    /* align-items: center;
    justify-content: center; */
}



form {
    /* background-color: #fff;   */
    background-color: #C7F9CC; /*CHANGED*/
    border: 1px solid #80ED99;  /*CHANGED*/
    /* border: 1px solid #ddd;  */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #38A3A5; 
    color: #C7F9CC;

}

th {
    background-color: #38A3A5; 
    
}

