<!DOCTYPE html>
<html>
<head>
    <title>Add Income</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Budget Tracker</h1>
    <div class="dashboard-nav">
        <a href="/" class="button-link">Home</a>
        <a href="/set_budget" class="button-link">Set Budget</a>
        <a href="/view_spending" class="button-link">Spending</a>
        <a href="/view_income" class="button-link">Income</a>
        <a href="/logout" class="button-link">Logout</a>
    </div>
    <h2 style="text-align: center;">Add Income</h2>
    <form action="/add_income" method="post">
        
        <input type="text" id="source" name="source" placeholder="Source" style="width: 90%; margin: 0 auto; display: block;" required>
        
        <input type="number" id="amount" name="income" placeholder="Amount" style="width: 90%; margin: 0 auto; display: block;" required>

        
        <input type="date" id="date" name="income_date" style="width: 90%; margin: 0 auto; display: block;" required>

        <button type="submit">SAVE</button>
    </form>
    <a href="/view_income" class="button-link" style="width: 20%; margin: 0 auto; display: block; text-align: center;">Back</a>
</body>
</html>
