<!DOCTYPE html>
<html>
<head>
    <title>Edit Income Entry</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Budget Tracker</h1>
    <div class="dashboard-nav">

        <a href="/" class="button-link">Home</a>
        <a href="/set_budget" class="button-link">Set Budget</a>
        <a href="/view_spending" class="button-link">Spending</a>
        <a href="/view_income" class="button-link">Income</a>
        <a href="/logout" class="button-link">Logout</a>
    </div>
    <h2 style="text-align: center;">Edit Income Entry</h2>
    <form action="/edit_income/{{ income._id }}" method="post">
        <input type="text" name="source" value="{{ income.source }}" style="width: 90%; margin: 0 auto; display: block;" required>
        <input type="number" name="amount" value="{{ income.amount }}" style="width: 90%; margin: 0 auto; display: block;" required>
        <input type="date" name="date" value="{{ income.date }}" style="width: 90%; margin: 0 auto; display: block;" required>
        <button type="submit">Update Entry</button>
    </form>
    <a href="/view_income" class="button-link" style="width: 20%; margin: 0 auto; display: block; text-align: center;">Back</a>
</body>
</html>
