<!DOCTYPE html>
<html>
<head>
    <title>Edit Spending Entry</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Edit Spending Entry</h1>
    <form action="/edit_spending/{{ spending._id }}" method="post">
        <input type="text" name="category" value="{{ spending.category }}" required>
        <input type="number" name="amount" value="{{ spending.amount }}" required>
        <input type="text" name="description" value="{{ spending.description }}" required>
        <input type="date" name="date" value="{{ spending.date }}" required>
        <button type="submit">Update Entry</button>
    </form>
    <a href="/view_spending" class="button-link">Back</a>
</body>
</html>
