<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome to Budget Tracker!</h1>
    <h2 style="text-align: center">Login</h2>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" style="width: 90%; margin: 0 auto; display: block;" required>
        <div class="spacer"></div>
        <input type="password" name="password" placeholder="Password" style="width: 90%; padding: 10px; margin: 0 auto; display: block;" required>
        <button type="submit">Login</button>
    </form>

    <h2 style="text-align: center">Register</h2>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" style="width: 90%; margin: 0 auto; display: block;" required>
        <div class="spacer"></div>
        <input type="password" name="password" placeholder="Password" style="width: 90%; padding: 10px; margin: 0 auto; display: block;" required>
        <button type="submit">Register</button>
    </form>
</body>
</html>

