<!DOCTYPE html>
<html>
<head>
    <title>View Income</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Budget Tracker</h1>
        <div class="dashboard-nav">
            <a href="/" class="button-link">Home</a>
            <a href="/set_budget" class="button-link">Set Budget</a>
            <a href="/view_spending" class="button-link">Spending</a>
            <a href="/view_income" class="button-link">Income</a>
            <a href="/logout" class="button-link">Logout</a>
        </div>
    </header>
    <h2 style="text-align: center;">Income Details</h2>
    <table style="text-align: center;">
        <thead>
            <tr>
                <th>Source</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for income in incomes %}
            <tr>
                <td>{{ income.source }}</td>
                <td>${{ "%.2f"|format(income.amount) }}</td>
                <td>{{ income.date }}</td>
                <td>

                   
  

                    <form action="/delete_income/{{ income._id }}" method="post" style="box-shadow: none; border: 0; background: transparent; display:flex;">
                        <a href="/edit_income/{{ income._id }}" class="button-link"  style="width: 50%; margin: 0 auto; display: block; text-align: center;">Edit</a>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <div class="spacer"></div>    
                        <button type="submit" class="button-link"  style="width: 30%; margin: 0 auto; display: block; text-align: center;">X</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" style="text-align: center;">No income records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/search_income" method="get" style="margin-top: 20px;">
        <input type="text" name="query" placeholder="Search by Source" style="width: 90%; margin: 0 auto; display: block;">
        <button type="submit">Search</button>
    </form>
    <footer style="display: flex;">
        <a href="/add_income" class="button-link" style="width: 90%; margin: 0 auto; display: block; text-align: center;">Add New Income</a>
        <div class="spacer"></div>
        <a href="/" class="button-link" style="width: 20%; margin: 0 auto; display: block; text-align: center;">Back to Home</a>
    </footer>
</body>
</html>
